{% block infos %}
<div class="col-9 mt-5">
    ID => {{machine.id}}<br>
    <br>
    Utilisateur => {{machine.utilisateur}}<br>
    <br>
    Adresse => {{machine.adresse}}<br>
    <br>
    Masque => {{machine.masque}}<br>
    <br>
    Nom du reseau => {{machine.nom_du_reseau}}<br>
    <br>
    Nom de la derniere mise a jour =>{{machine.mises_a_jour}}<br>
    <br>
    Technicien qui a fait la mise a jour => {{machine.technicien_qui_a_fait_la_mise_a_jour}}<br>
    <br>
    Date de la mise a jour => {{machine.date_de_la_mises_a_jour}}
</div>
    <div class="col-1">
    </div>
</div>
{% endblock %}
