html, body {

height: 100%;
}

body {
    background-image: url(rtdev.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color : black ;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}